<!-- I am a banner  --><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receipts</title>    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-theme.css.map" type="text/css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css"  />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="css/theme.css" rel="stylesheet" type="text/css">
    <link href="css/theme-responsive.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">
                 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                 <script src="js/dist/jquery.jqplot.js"></script>
      <script type="text/javascript" src="js/dist/plugins/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="js/dist/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="js/jquery-ui-1.10.4.js"></script>
    <script src="js/jquery.ajax.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.masonry.min.js"></script>
    <script src="js/packery.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrap">
        <!-- NAVBAR -->

        <div class="navbar navbar-fixed-top" role="navigation">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                    <a class="navbar-brand" id="logo" href="dashboard.html">
                      <img src="./image/logo-small.png" alt="Home">
                    </a>
                    </div>
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="loadingpage.html">Analytics</a></li>
                        <li><a href="sellMyData.html">Sell My Data</a></li>
        <!--                 {% if user.is_authenticated %}
                        <li><a href="{% url 'accounts:profile' user  %}">My Account</a></li>
                        {% endif %} -->
                      </ul>

                      <ul class = "nav navbar-nav pull-right">

                        
                        <!-- {% if not user.is_authenticated %} -->
                        <!-- <li class="dropdown navbar-right">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in<b class="caret"></b></a>
                          <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                            <li>
                              <div class="row">
                                <div class="col-md-12">
                                  <form class="form" role="form" method="post" action="{% url 'accounts:login' %}" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                      <label class="sr-only" for="exampleInputEmail2">Username</label>
                                      <input type="text" name="username" class="form-control" id="exampleInputEmail2" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                                      <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    </div>

                                    <div class="form-group">
                                      <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li> -->
                      <!--   {% endif %} -->

                        <li class="dropdown navbar-right">
                          <ul class="nav navbar-nav">
                          <!-- {% if not user.is_authenticated %} -->

                            
                           
        <!--                     {% else %}
         -->                    
                            <li class="dropdown navbar-right">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><!-- {{ user.username }} -->Baruch <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <!-- Button trigger modal -->
                                <li><a href="account.html">My account</a></li>
                                <li><a href="settings.html">Settings</a></li>
                                <li><a href="index.html">Sign out</a></li>
                              </ul>
                            </li>


                            <li class="dropdown navbar-right">
                              <a href="#" class="dropdown-toggle glyphicon glyphicon-plus" style="font-size:24px;" data-toggle="dropdown"></a>
                              <ul class="dropdown-menu">
                                <li><a id="createCorkButton" data-target="#createCorkModal">Add a Card</a></li>
                                <li><a id="createBasketButton" data-target="#createBasketModal">Set Spending Goals</a></li>
 
                              </ul>
                            </li>
                            <!-- <li><a href="">Sign out</a></li> -->
                         <!--    {% endif%} -->
                          </ul>
                        </li>
                        <!-- <li><a href="">Sign out</a></li> -->
                      </ul>
                        

                      <!-- {% endif %} -->

                    </div><!--/.navbar-collapse -->
                  </div>
                </div>

<div class="container">
        
    

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Credit Card</th>
              <th>Card Number</th>
              <th>Receipt Data</th>
              <th>Receivables</th>
              <th>Sell It!</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mastercard</td>
              <td>4280-XXXX-XXXX</td>
              <td>100 MB</td>
              <td>&#36; 30.39</td>
              <td><button type="button" class="btn btn-alert">Sell It!</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>AMEX</td>
              <td>5144-XXXX-XXXX</td>
              <td>24 MB</td>
              <td>&#36; 5.03</td>
              <td><button type="button" class="btn btn-alert">Sell It!</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td>VISA</td>
              <td>6789-XXXX-XXXX</td>
              <td>1 KB</td>
              <td>&#36; 0.09</td>
              <td><button type="button" class="btn btn-alert">Sell It!</button></td>
            </tr>
          </tbody>
        </table>

<div id="chart2" style="height: 300px; width: 500px; position: relative;" class="jqplot-target"></div>

<script>
$(document).ready(function(){
  var plot2 = $.jqplot ('chart2', [[-10,-8,-7,30,31,31,31,33,35]], {
      // Give the plot a title.
      title: 'Billytics Returns',
      // You can specify options for all axes on the plot at once with
      // the axesDefaults object.  Here, we're using a canvas renderer
      // to draw the axis label which allows rotated text.
      axesDefaults: {
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
      },
      // An axes object holds options for all axes.
      // Allowable axes are xaxis, x2axis, yaxis, y2axis, y3axis, ...
      // Up to 9 y axes are supported.
      axes: {
        // options for each axis are specified in seperate option objects.
        xaxis: {
          label: "Time",
          // Turn off "padding".  This will allow data point to lie on the
          // edges of the grid.  Default padding is 1.2 and will keep all
          // points inside the bounds of the grid.
          pad: 0
        },
        yaxis: {
          label: "Dollars (USD)"
        }
      }
    });
});
</script>

</div>
    </div>




    <!-- HOME --> 





</body>

</html>